.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 3px;
}

.image {
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  z-index: -1;
  height: 100vh;
  position: relative;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: linear-gradient(
    to top,
    hsla(5, 15%, 5%, 0) 0%,
    hsla(5, 15%, 5%, 0.013) 8.1%,
    hsla(5, 15%, 5%, 0.049) 15.5%,
    hsla(5, 15%, 5%, 0.104) 22.5%,
    hsla(5, 15%, 5%, 0.175) 29%,
    hsla(5, 15%, 5%, 0.259) 35.3%,
    hsla(5, 15%, 5%, 0.352) 41.2%,
    hsla(5, 15%, 5%, 0.45) 47.1%,
    hsla(5, 15%, 5%, 0.55) 52.9%,
    hsla(5, 15%, 5%, 0.648) 58.8%,
    hsla(5, 15%, 5%, 0.741) 64.7%,
    hsla(5, 15%, 5%, 0.825) 71%,
    hsla(5, 15%, 5%, 0.896) 77.5%,
    hsla(5, 15%, 5%, 0.951) 84.5%,
    hsla(5, 15%, 5%, 0.987) 91.9%,
    hsl(5, 15%, 5%) 100%
  );
}

.image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: linear-gradient(
    to bottom,
    hsla(5, 15%, 5%, 0) 0%,
    hsla(5, 15%, 5%, 0.013) 8.1%,
    hsla(5, 15%, 5%, 0.049) 15.5%,
    hsla(5, 15%, 5%, 0.104) 22.5%,
    hsla(5, 15%, 5%, 0.175) 29%,
    hsla(5, 15%, 5%, 0.259) 35.3%,
    hsla(5, 15%, 5%, 0.352) 41.2%,
    hsla(5, 15%, 5%, 0.45) 47.1%,
    hsla(5, 15%, 5%, 0.55) 52.9%,
    hsla(5, 15%, 5%, 0.648) 58.8%,
    hsla(5, 15%, 5%, 0.741) 64.7%,
    hsla(5, 15%, 5%, 0.825) 71%,
    hsla(5, 15%, 5%, 0.896) 77.5%,
    hsla(5, 15%, 5%, 0.951) 84.5%,
    hsla(5, 15%, 5%, 0.987) 91.9%,
    hsl(5, 15%, 5%) 100%
  );
}

.title {
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: 30px;
  z-index: -1;
  transform: translateY(-50vh) translateZ(1px) scale(1.5);
}

.title-season-2-3 {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.buffer {
  height: 40vh;
  width: 100%;
  background-color: transparent;
}

.season-1 {
  background-image: url("https://ufond.ua/i/417.jpg");
}

.season-2 {
  background-image: url("https://i0.wp.com/mol4alena.com/wp-content/uploads/2019/09/%D0%9A%D0%BB%D0%B5%D0%BD.jpg?resize=1024%2C576&ssl=1");
}

.season-3 {
  background-image: url("https://24tv.ua/resources/photos/news/1200x675_DIR/202101/1504970.jpg?202101202006");
}

.season-4 {
  background-image: url("https://www.nippon.com/ru/ncommon/contents/japan-glances/187347/187347.jpg");
}
